@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

* {
  text-align: center;
  line-height: 2;
  font-family: 'Source Sans Pro', sans-serif;
  /* This font-family has been imported from Google fonts. */
}

.App { 
  background-color: white;
  min-height: 100vh;
  color: #6e4d76;
  /* color code taken from SOLE marketing docs */
}

.App-header img {
  width: 100vw; 
  border-bottom: solid 1px #6E4D76; 
}

.App-download-container {
  margin: 15px 0px; 
}

.App-download-container img {
  height: 50px;
  margin: 10px;
}

.App-download-container img:hover {
  cursor: pointer;
}

.App button {
  padding: 5px 20px;
  background-color: #6E4D76;
  color: white;
  border: solid 1px white;
  border-radius: 5px;
  cursor: pointer;
  margin: 15px 0px;
}

.App button:hover {
  background-color: #493557;
  /* color code taken from SOLE marketing docs */
}

.App-county-container {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 15px;
  justify-content: center;
  width: 90vw;
  margin: 20px auto 50px auto;
}

.App-county-item {
  max-width: 140px; 
}

.App-county-item p {
  margin: 0;
  font-size: 16px;
  color: #6E4D76;
  line-height: normal;
}

.App-county-item a {
  margin: 0;
  text-decoration: none;
}

.App-county-logo {
  height: 125px;
}
